body {
    background-color: aqua;
}

.centrado {
    text-align: center;
}

.azul {
    color: blue;
}

.rojo {
    color: red;
}

.plata {
    background-color: silver;
    color: blue;
}

.derecha {
    text-align: right;
}